@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="jumbotron">
    <div class="hit-the-floor">
        <h1>
            BIENVENIDO<br />
        </h1>
    </div>
</div>

