@{
    ViewBag.Title = "Home";

}
<link href="~/Content/Site.css" rel="stylesheet" />
<body>
    <div class="jumbotron">
        <div class="hit-the-floor">
            <h1>
                INVENTARIO: <br />
                SERVICIO<br />
                DE<br />
                ALIMENTACIÓN
            </h1>
        </div>
        <div>
            <p>Realizar un inventario de forma periódica permite a las entidades identificar si los 
            registros contables coinciden con el inventario físico. Este último es un conteo manual
            de las existencias de la firma. Si se encuentra una incongruencia, pueden estar generándose 
            robos o extravíos.</p>
        </div>
    </div>
</body>
    
